@use "../../styles/global/global.scss" as *;

:host {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.dockv-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
}
