@use "../../styles/global/global.scss" as *;

:host {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.dockv-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
}

.dockv-icon svg,
.dockv-icon img {
  display: block;
  width: 1em;
  height: 1em;
}

::slotted(svg) {
  display: block;
  width: 1em;
  height: 1em;
}
