:host{
    /* VOCALOID Character Colors */

    /* 初音未来 Hatsune Miku */
    --dockv-color-vocaloid-miku: #39C5BB;

    /* 镜音铃 Kagamine Rin */
    --dockv-color-vocaloid-rin: #FFA500;

    /* 镜音连 Kagamine Len */
    --dockv-color-vocaloid-len: #FFE211;

    /* 巡音流歌 Megurine Luka */
    --dockv-color-vocaloid-luka: #FFBBCC;

    /* MEIKO */
    --dockv-color-vocaloid-meiko: #D80000;

    /* KAITO */
    --dockv-color-vocaloid-kaito: #0000FF;

    /* 歌愛ユキ Kaai Yuki */
    --dockv-color-vocaloid-kaai-yuki: #F38286;

    /* 神威乐步 Gakupo Kamui */
    --dockv-color-vocaloid-gakupo: #9933CC;

    /* GUMI (Megpoid) */
    --dockv-color-vocaloid-gumi: #A6CE39;

    /* IA */
    --dockv-color-vocaloid-ia: #d6758f;

    /* 结月缘 Yuzuki Yukari */
    --dockv-color-vocaloid-yuzuki-yukari: #9B59B6;

    /* 可不 KAFU */
    --dockv-color-vocaloid-kafu: #0039e6;

    /* 足立レイ Adachi Rei */
    --dockv-color-vocaloid-adachi-rei: #FD4B03;

    /* 裏命 RIME */
    --dockv-color-vocaloid-rime: #FF2A1B;

    /* v flower */
    --dockv-color-vocaloid-flower: #996699;

    /* 重音テト Kasane Teto */
    --dockv-color-vocaloid-teto: #FF6F91;

    /* 洛天依 Luo Tianyi */
    --dockv-color-vocaloid-luotianyi: #66CCFF;

    /* 言和 Yanhe */
    --dockv-color-vocaloid-yanhe: #00FFCC;

    /* 乐正绫 Yuezheng Ling */
    --dockv-color-vocaloid-yuezheng-ling: #EE0000;

    /* 星尘 Infinity Stardust Infinity */
    --dockv-color-vocaloid-stardust-infinity: #9999FF;
}