body, body .dockv-theme-light, :host, :host .dockv-theme-light {
    --dockv-amber-0: 254,251,235;
    --dockv-amber-1: 252,245,206;
    --dockv-amber-2: 249,232,158;
    --dockv-amber-3: 246,216,111;
    --dockv-amber-4: 243,198,65;
    --dockv-amber-5: 240,177,20;
    --dockv-amber-6: 200,138,15;
    --dockv-amber-7: 160,102,10;
    --dockv-amber-8: 120,70,6;
    --dockv-amber-9: 80,43,3;
    --dockv-black: 0,0,0;
    --dockv-blue-0: 234,245,255;
    --dockv-blue-1: 203,231,254;
    --dockv-blue-2: 152,205,253;
    --dockv-blue-3: 101,178,252;
    --dockv-blue-4: 50,149,251;
    --dockv-blue-5: 0,100,250;
    --dockv-blue-6: 0,98,214;
    --dockv-blue-7: 0,79,179;
    --dockv-blue-8: 0,61,143;
    --dockv-blue-9: 0,44,107;
    --dockv-cyan-0: 229,247,248;
    --dockv-cyan-1: 194,239,240;
    --dockv-cyan-2: 138,221,226;
    --dockv-cyan-3: 88,203,211;
    --dockv-cyan-4: 44,184,197;
    --dockv-cyan-5: 5,164,182;
    --dockv-cyan-6: 3,134,152;
    --dockv-cyan-7: 1,105,121;
    --dockv-cyan-8: 0,77,91;
    --dockv-cyan-9: 0,50,61;
    --dockv-green-0: 236,247,236;
    --dockv-green-1: 208,240,209;
    --dockv-green-2: 164,224,167;
    --dockv-green-3: 125,209,130;
    --dockv-green-4: 90,194,98;
    --dockv-green-5: 59,179,70;
    --dockv-green-6: 48,149,59;
    --dockv-green-7: 37,119,47;
    --dockv-green-8: 27,89,36;
    --dockv-green-9: 17,60,24;
    --dockv-grey-0: 249,249,249;
    --dockv-grey-1: 230,232,234;
    --dockv-grey-2: 198,202,205;
    --dockv-grey-3: 167,171,176;
    --dockv-grey-4: 136,141,146;
    --dockv-grey-5: 107,112,117;
    --dockv-grey-6: 85,91,97;
    --dockv-grey-7: 65,70,76;
    --dockv-grey-8: 46,50,56;
    --dockv-grey-9: 28,31,35;
    --dockv-indigo-0: 236,239,248;
    --dockv-indigo-1: 209,216,240;
    --dockv-indigo-2: 167,179,225;
    --dockv-indigo-3: 128,144,211;
    --dockv-indigo-4: 94,111,196;
    --dockv-indigo-5: 63,81,181;
    --dockv-indigo-6: 51,66,161;
    --dockv-indigo-7: 40,52,140;
    --dockv-indigo-8: 31,40,120;
    --dockv-indigo-9: 23,29,99;
    --dockv-light-blue-0: 233,247,253;
    --dockv-light-blue-1: 201,236,252;
    --dockv-light-blue-2: 149,216,248;
    --dockv-light-blue-3: 98,195,245;
    --dockv-light-blue-4: 48,172,241;
    --dockv-light-blue-5: 0,149,238;
    --dockv-light-blue-6: 0,123,202;
    --dockv-light-blue-7: 0,99,167;
    --dockv-light-blue-8: 0,75,131;
    --dockv-light-blue-9: 0,53,95;
    --dockv-light-green-0: 243,248,236;
    --dockv-light-green-1: 227,240,208;
    --dockv-light-green-2: 200,226,165;
    --dockv-light-green-3: 173,211,126;
    --dockv-light-green-4: 147,197,91;
    --dockv-light-green-5: 123,182,60;
    --dockv-light-green-6: 100,152,48;
    --dockv-light-green-7: 78,121,38;
    --dockv-light-green-8: 57,91,27;
    --dockv-light-green-9: 37,61,18;
    --dockv-lime-0: 242,250,230;
    --dockv-lime-1: 227,246,197;
    --dockv-lime-2: 203,237,142;
    --dockv-lime-3: 183,227,91;
    --dockv-lime-4: 167,218,44;
    --dockv-lime-5: 155,209,0;
    --dockv-lime-6: 126,174,0;
    --dockv-lime-7: 99,139,0;
    --dockv-lime-8: 72,104,0;
    --dockv-lime-9: 47,70,0;
    --dockv-orange-0: 255,248,234;
    --dockv-orange-1: 254,238,204;
    --dockv-orange-2: 254,217,152;
    --dockv-orange-3: 253,193,101;
    --dockv-orange-4: 253,166,51;
    --dockv-orange-5: 252,136,0;
    --dockv-orange-6: 210,103,0;
    --dockv-orange-7: 168,74,0;
    --dockv-orange-8: 126,49,0;
    --dockv-orange-9: 84,29,0;
    --dockv-pink-0: 253,236,239;
    --dockv-pink-1: 251,207,216;
    --dockv-pink-2: 246,160,181;
    --dockv-pink-3: 242,115,150;
    --dockv-pink-4: 237,72,123;
    --dockv-pink-5: 233,30,99;
    --dockv-pink-6: 197,19,86;
    --dockv-pink-7: 162,11,72;
    --dockv-pink-8: 126,5,58;
    --dockv-pink-9: 90,1,43;
    --dockv-purple-0: 247,233,247;
    --dockv-purple-1: 239,202,240;
    --dockv-purple-2: 221,155,224;
    --dockv-purple-3: 201,111,209;
    --dockv-purple-4: 180,73,194;
    --dockv-purple-5: 158,40,179;
    --dockv-purple-6: 135,30,158;
    --dockv-purple-7: 113,22,138;
    --dockv-purple-8: 92,15,117;
    --dockv-purple-9: 73,10,97;
    --dockv-red-0: 254,242,237;
    --dockv-red-1: 254,221,210;
    --dockv-red-2: 253,183,165;
    --dockv-red-3: 251,144,120;
    --dockv-red-4: 250,102,76;
    --dockv-red-5: 249,57,32;
    --dockv-red-6: 213,37,21;
    --dockv-red-7: 178,20,12;
    --dockv-red-8: 142,8,5;
    --dockv-red-9: 106,1,3;
    --dockv-teal-0: 228,247,244;
    --dockv-teal-1: 192,240,232;
    --dockv-teal-2: 135,224,211;
    --dockv-teal-3: 84,209,193;
    --dockv-teal-4: 39,194,176;
    --dockv-teal-5: 0,179,161;
    --dockv-teal-6: 0,149,137;
    --dockv-teal-7: 0,119,111;
    --dockv-teal-8: 0,89,85;
    --dockv-teal-9: 0,60,58;
    --dockv-violet-0: 243,237,249;
    --dockv-violet-1: 226,209,244;
    --dockv-violet-2: 196,167,233;
    --dockv-violet-3: 166,127,221;
    --dockv-violet-4: 136,91,210;
    --dockv-violet-5: 106,58,199;
    --dockv-violet-6: 87,47,179;
    --dockv-violet-7: 70,37,158;
    --dockv-violet-8: 54,28,138;
    --dockv-violet-9: 40,20,117;
    --dockv-white: 255,255,255;
    --dockv-yellow-0: 255,253,234;
    --dockv-yellow-1: 254,251,203;
    --dockv-yellow-2: 253,243,152;
    --dockv-yellow-3: 252,232,101;
    --dockv-yellow-4: 251,218,50;
    --dockv-yellow-5: 250,200,0;
    --dockv-yellow-6: 208,170,0;
    --dockv-yellow-7: 167,139,0;
    --dockv-yellow-8: 125,106,0;
    --dockv-yellow-9: 83,72,0;
    
    // ai related
    --dockv-ai-purple-0: 248,237,255;
    --dockv-ai-purple-1: 242,218,255;
    --dockv-ai-purple-2: 227,181,255;
    --dockv-ai-purple-3: 209,145,255;
    --dockv-ai-purple-4: 189,108,255;
    --dockv-ai-purple-5: 166,71,255;
    --dockv-ai-purple-6: 134,54,219;
    --dockv-ai-purple-7: 105,40,184;
    --dockv-ai-purple-8: 78,28,148;
    --dockv-ai-purple-9: 54,18,112;

    --dockv-ai-general-0-3: 239,247,255;
    --dockv-ai-general-0-2: 244,244,255;
    --dockv-ai-general-0-1: 248,237,255;
    --dockv-ai-general-0-0: 255,242,255;

    --dockv-ai-general-1-3: 213,235,255;
    --dockv-ai-general-1-2: 223,224,255;
    --dockv-ai-general-1-1: 242,218,255;
    --dockv-ai-general-1-0: 255,218,254;

    --dockv-ai-general-2-3: 171,213,255;
    --dockv-ai-general-2-2: 193,192,255;
    --dockv-ai-general-2-1: 227,181,255;
    --dockv-ai-general-2-0: 254,181,255;

    --dockv-ai-general-3-3: 130,190,255;
    --dockv-ai-general-3-2: 163,160,255;
    --dockv-ai-general-3-1: 209,145,255;
    --dockv-ai-general-3-0: 249,143,255;

    --dockv-ai-general-4-3: 88,166,255;
    --dockv-ai-general-4-2: 134,129,255;
    --dockv-ai-general-4-1: 189,108,255;
    --dockv-ai-general-4-0: 242,106,255;

    --dockv-ai-general-5-3: 46,140,255;
    --dockv-ai-general-5-2: 107,97,255;
    --dockv-ai-general-5-1: 166,71,255;
    --dockv-ai-general-5-0: 233,69,255;

    --dockv-ai-general-6-3: 33,114,219;
    --dockv-ai-general-6-2: 88,77,219;
    --dockv-ai-general-6-1: 134,54,219;
    --dockv-ai-general-6-0: 194,53,219;

    --dockv-ai-general-7-3: 22,89,184;
    --dockv-ai-general-7-2: 71,59,184;
    --dockv-ai-general-7-1: 105,40,184;
    --dockv-ai-general-7-0: 157,39,184;

    --dockv-ai-general-8-3: 13,67,148;
    --dockv-ai-general-8-2: 55,43,148;
    --dockv-ai-general-8-1: 78,28,148;
    --dockv-ai-general-8-0: 121,27,148;

    --dockv-ai-general-9-3: 7,47,112;
    --dockv-ai-general-9-2: 40,29,112;
    --dockv-ai-general-9-1: 54,18,112;
    --dockv-ai-general-9-0: 88,17,112;

    --dockv-ai-general-0: linear-gradient(278deg, rgba(var(--dockv-ai-general-0-0)) 0%, rgba(var(--dockv-ai-general-0-1)) 30%, rgba(var(--dockv-ai-general-0-2)) 60%, rgba(var(--dockv-ai-general-0-3)) 100%); 
    --dockv-ai-general-1: linear-gradient(278deg, rgba(var(--dockv-ai-general-1-0)) 0%, rgba(var(--dockv-ai-general-1-1)) 30%, rgba(var(--dockv-ai-general-1-2)) 60%, rgba(var(--dockv-ai-general-1-3)) 100%);
    --dockv-ai-general-2: linear-gradient(278deg, rgba(var(--dockv-ai-general-2-0)) 0%, rgba(var(--dockv-ai-general-2-1)) 30%, rgba(var(--dockv-ai-general-2-2)) 60%, rgba(var(--dockv-ai-general-2-3)) 100%);
    --dockv-ai-general-3: linear-gradient(278deg, rgba(var(--dockv-ai-general-3-0)) 0%, rgba(var(--dockv-ai-general-3-1)) 30%, rgba(var(--dockv-ai-general-3-2)) 60%, rgba(var(--dockv-ai-general-3-3)) 100%);
    --dockv-ai-general-4: linear-gradient(278deg, rgba(var(--dockv-ai-general-4-0)) 0%, rgba(var(--dockv-ai-general-4-1)) 30%, rgba(var(--dockv-ai-general-4-2)) 60%, rgba(var(--dockv-ai-general-4-3)) 100%);
    --dockv-ai-general-5: linear-gradient(278deg, rgba(var(--dockv-ai-general-5-0)) 0%, rgba(var(--dockv-ai-general-5-1)) 30%, rgba(var(--dockv-ai-general-5-2)) 60%, rgba(var(--dockv-ai-general-5-3)) 100%);
    --dockv-ai-general-6: linear-gradient(278deg, rgba(var(--dockv-ai-general-6-0)) 0%, rgba(var(--dockv-ai-general-6-1)) 30%, rgba(var(--dockv-ai-general-6-2)) 60%, rgba(var(--dockv-ai-general-6-3)) 100%);
    --dockv-ai-general-7: linear-gradient(278deg, rgba(var(--dockv-ai-general-7-0)) 0%, rgba(var(--dockv-ai-general-7-1)) 30%, rgba(var(--dockv-ai-general-7-2)) 60%, rgba(var(--dockv-ai-general-7-3)) 100%);
    --dockv-ai-general-8: linear-gradient(278deg, rgba(var(--dockv-ai-general-8-0)) 0%, rgba(var(--dockv-ai-general-8-1)) 30%, rgba(var(--dockv-ai-general-8-2)) 60%, rgba(var(--dockv-ai-general-8-3)) 100%);
    --dockv-ai-general-9: linear-gradient(278deg, rgba(var(--dockv-ai-general-9-0)) 0%, rgba(var(--dockv-ai-general-9-1)) 30%, rgba(var(--dockv-ai-general-9-2)) 60%, rgba(var(--dockv-ai-general-9-3)) 100%);

}

body[theme="dark"], body .dockv-theme-dark, :host([theme="dark"]), :host .dockv-theme-dark {
    --dockv-red-0: 108,9,11;
    --dockv-red-1: 144,17,16;
    --dockv-red-2: 180,32,25;
    --dockv-red-3: 215,51,36;
    --dockv-red-4: 251,73,50;
    --dockv-red-5: 252,114,90;
    --dockv-red-6: 253,153,131;
    --dockv-red-7: 253,190,172;
    --dockv-red-8: 254,224,213;
    --dockv-red-9: 255,243,239;
    --dockv-pink-0: 92,7,48;
    --dockv-pink-1: 128,14,65;
    --dockv-pink-2: 164,23,81;
    --dockv-pink-3: 199,34,97;
    --dockv-pink-4: 235,47,113;
    --dockv-pink-5: 239,86,134;
    --dockv-pink-6: 243,126,159;
    --dockv-pink-7: 247,168,188;
    --dockv-pink-8: 251,211,220;
    --dockv-pink-9: 253,238,241;
    --dockv-purple-0: 74,16,97;
    --dockv-purple-1: 94,23,118;
    --dockv-purple-2: 115,31,138;
    --dockv-purple-3: 137,40,159;
    --dockv-purple-4: 160,51,179;
    --dockv-purple-5: 181,83,194;
    --dockv-purple-6: 202,120,209;
    --dockv-purple-7: 221,160,225;
    --dockv-purple-8: 239,206,240;
    --dockv-purple-9: 247,235,247;
    --dockv-violet-0: 64,27,119;
    --dockv-violet-1: 76,36,140;
    --dockv-violet-2: 88,46,160;
    --dockv-violet-3: 100,57,181;
    --dockv-violet-4: 114,70,201;
    --dockv-violet-5: 136,101,212;
    --dockv-violet-6: 162,136,223;
    --dockv-violet-7: 190,173,233;
    --dockv-violet-8: 221,212,244;
    --dockv-violet-9: 241,238,250;
    --dockv-indigo-0: 23,30,101;
    --dockv-indigo-1: 32,41,122;
    --dockv-indigo-2: 41,54,142;
    --dockv-indigo-3: 52,68,163;
    --dockv-indigo-4: 64,83,183;
    --dockv-indigo-5: 95,113,197;
    --dockv-indigo-6: 129,145,212;
    --dockv-indigo-7: 167,180,226;
    --dockv-indigo-8: 209,216,241;
    --dockv-indigo-9: 237,239,248;
    --dockv-blue-0: 5,49,112;
    --dockv-blue-1: 10,70,148;
    --dockv-blue-2: 19,92,184;
    --dockv-blue-3: 29,117,219;
    --dockv-blue-4: 41,144,255;
    --dockv-blue-5: 84,169,255;
    --dockv-blue-6: 127,193,255;
    --dockv-blue-7: 169,215,255;
    --dockv-blue-8: 212,236,255;
    --dockv-blue-9: 239,248,255;
    --dockv-light-blue-0: 0,55,97;
    --dockv-light-blue-1: 0,77,133;
    --dockv-light-blue-2: 3,102,169;
    --dockv-light-blue-3: 10,129,204;
    --dockv-light-blue-4: 19,159,240;
    --dockv-light-blue-5: 64,180,243;
    --dockv-light-blue-6: 110,200,246;
    --dockv-light-blue-7: 157,220,249;
    --dockv-light-blue-8: 206,238,252;
    --dockv-light-blue-9: 235,248,254;
    --dockv-cyan-0: 4,52,61;
    --dockv-cyan-1: 7,79,92;
    --dockv-cyan-2: 10,108,123;
    --dockv-cyan-3: 14,137,153;
    --dockv-cyan-4: 19,168,184;
    --dockv-cyan-5: 56,187,198;
    --dockv-cyan-6: 98,205,212;
    --dockv-cyan-7: 145,223,227;
    --dockv-cyan-8: 198,239,241;
    --dockv-cyan-9: 231,247,248;
    --dockv-teal-0: 2,60,57;
    --dockv-teal-1: 4,90,85;
    --dockv-teal-2: 7,119,111;
    --dockv-teal-3: 10,149,136;
    --dockv-teal-4: 14,179,161;
    --dockv-teal-5: 51,194,176;
    --dockv-teal-6: 94,209,193;
    --dockv-teal-7: 142,225,211;
    --dockv-teal-8: 196,240,232;
    --dockv-teal-9: 230,247,244;
    --dockv-green-0: 18,60,25;
    --dockv-green-1: 28,90,37;
    --dockv-green-2: 39,119,49;
    --dockv-green-3: 50,149,61;
    --dockv-green-4: 62,179,73;
    --dockv-green-5: 93,194,100;
    --dockv-green-6: 127,209,132;
    --dockv-green-7: 166,225,168;
    --dockv-green-8: 208,240,209;
    --dockv-green-9: 236,247,236;
    --dockv-light-green-0: 38,61,19;
    --dockv-light-green-1: 59,92,29;
    --dockv-light-green-2: 81,123,40;
    --dockv-light-green-3: 103,153,52;
    --dockv-light-green-4: 127,184,64;
    --dockv-light-green-5: 151,198,95;
    --dockv-light-green-6: 176,212,129;
    --dockv-light-green-7: 201,227,167;
    --dockv-light-green-8: 228,241,209;
    --dockv-light-green-9: 243,248,237;
    --dockv-lime-0: 49,70,3;
    --dockv-lime-1: 75,105,5;
    --dockv-lime-2: 103,141,9;
    --dockv-lime-3: 132,176,12;
    --dockv-lime-4: 162,211,17;
    --dockv-lime-5: 174,220,58;
    --dockv-lime-6: 189,229,102;
    --dockv-lime-7: 207,237,150;
    --dockv-lime-8: 229,246,201;
    --dockv-lime-9: 243,251,233;
    --dockv-yellow-0: 84,73,3;
    --dockv-yellow-1: 126,108,6;
    --dockv-yellow-2: 168,142,10;
    --dockv-yellow-3: 210,175,15;
    --dockv-yellow-4: 252,206,20;
    --dockv-yellow-5: 253,222,67;
    --dockv-yellow-6: 253,235,113;
    --dockv-yellow-7: 254,245,160;
    --dockv-yellow-8: 254,251,208;
    --dockv-yellow-9: 255,254,236;
    --dockv-amber-0: 81,46,9;
    --dockv-amber-1: 121,75,15;
    --dockv-amber-2: 161,107,22;
    --dockv-amber-3: 202,143,30;
    --dockv-amber-4: 242,183,38;
    --dockv-amber-5: 245,202,80;
    --dockv-amber-6: 247,219,122;
    --dockv-amber-7: 250,234,166;
    --dockv-amber-8: 252,246,210;
    --dockv-amber-9: 254,251,237;
    --dockv-orange-0: 85,31,3;
    --dockv-orange-1: 128,53,6;
    --dockv-orange-2: 170,80,10;
    --dockv-orange-3: 213,111,15;
    --dockv-orange-4: 255,146,20;
    --dockv-orange-5: 255,174,67;
    --dockv-orange-6: 255,199,114;
    --dockv-orange-7: 255,221,161;
    --dockv-orange-8: 255,239,208;
    --dockv-orange-9: 255,249,237;
    --dockv-grey-0: 28,31,35;
    --dockv-grey-1: 46,50,56;
    --dockv-grey-2: 65,70,76;
    --dockv-grey-3: 85,91,97;
    --dockv-grey-4: 107,112,117;
    --dockv-grey-5: 136,141,146;
    --dockv-grey-6: 167,171,176;
    --dockv-grey-7: 198,202,205;
    --dockv-grey-8: 230,232,234;
    --dockv-grey-9: 249,249,249;
    --dockv-white: 255, 255, 255;
    --dockv-black: 0, 0, 0;

    // ai related
    --dockv-ai-purple-0: 58,23,112;
    --dockv-ai-purple-1: 83,35,148;
    --dockv-ai-purple-2: 111,49,184;
    --dockv-ai-purple-3: 141,65,219;
    --dockv-ai-purple-4: 167,68,255;
    --dockv-ai-purple-5: 195,117,255;
    --dockv-ai-purple-6: 213,152,255;
    --dockv-ai-purple-7: 229,186,255;
    --dockv-ai-purple-8: 243,221,255;
    --dockv-ai-purple-9: 251,243,255;

    --dockv-ai-general-0-0: 9,44,100;
    --dockv-ai-general-0-1: 39,29,108;
    --dockv-ai-general-0-2: 58,23,112;
    --dockv-ai-general-0-3: 80,18,101;

    --dockv-ai-general-1-0: 17,64,136;
    --dockv-ai-general-1-1: 54,43,144;
    --dockv-ai-general-1-2: 83,35,148;
    --dockv-ai-general-1-3: 113,28,137;

    --dockv-ai-general-2-0: 26,86,172;
    --dockv-ai-general-2-1: 70,59,180;
    --dockv-ai-general-2-2: 111,49,184;
    --dockv-ai-general-2-3: 148,41,173;

    --dockv-ai-general-3-0: 38,111,207;
    --dockv-ai-general-3-1: 88,78,215;
    --dockv-ai-general-3-2: 141,65,219;
    --dockv-ai-general-3-3: 185,55,208;

    --dockv-ai-general-4-0: 35,127,240;
    --dockv-ai-general-4-1: 94,84,248;
    --dockv-ai-general-4-2: 167,68,255;
    --dockv-ai-general-4-3: 219,56,241;

    --dockv-ai-general-5-0: 91,162,245;
    --dockv-ai-general-5-1: 134,129,252;
    --dockv-ai-general-5-2: 195,117,255;
    --dockv-ai-general-5-3: 234,107,246;

    --dockv-ai-general-6-0: 131,187,248;
    --dockv-ai-general-6-1: 163,160,253;
    --dockv-ai-general-6-2: 213,152,255;
    --dockv-ai-general-6-3: 243,143,248;

    --dockv-ai-general-7-0: 172,210,250;
    --dockv-ai-general-7-1: 192,192,253;
    --dockv-ai-general-7-2: 229,186,255;
    --dockv-ai-general-7-3: 249,180,251;

    --dockv-ai-general-8-0: 213,233,253;
    --dockv-ai-general-8-1: 223,223,254;
    --dockv-ai-general-8-2: 243,221,255;
    --dockv-ai-general-8-3: 253,217,252;
    
    --dockv-ai-general-9-0: 239,247,254;
    --dockv-ai-general-9-1: 244,244,255;
    --dockv-ai-general-9-2: 251,243,255;
    --dockv-ai-general-9-3: 254,241,254;

    --dockv-ai-general-0: linear-gradient(278deg, rgba(var(--dockv-ai-general-0-0)) 0%, rgba(var(--dockv-ai-general-0-1)) 30%, rgba(var(--dockv-ai-general-0-2)) 60%, rgba(var(--dockv-ai-general-0-3)) 100%); 
    --dockv-ai-general-1: linear-gradient(278deg, rgba(var(--dockv-ai-general-1-0)) 0%, rgba(var(--dockv-ai-general-1-1)) 30%, rgba(var(--dockv-ai-general-1-2)) 60%, rgba(var(--dockv-ai-general-1-3)) 100%);
    --dockv-ai-general-2: linear-gradient(278deg, rgba(var(--dockv-ai-general-2-0)) 0%, rgba(var(--dockv-ai-general-2-1)) 30%, rgba(var(--dockv-ai-general-2-2)) 60%, rgba(var(--dockv-ai-general-2-3)) 100%);
    --dockv-ai-general-3: linear-gradient(278deg, rgba(var(--dockv-ai-general-3-0)) 0%, rgba(var(--dockv-ai-general-3-1)) 30%, rgba(var(--dockv-ai-general-3-2)) 60%, rgba(var(--dockv-ai-general-3-3)) 100%);
    --dockv-ai-general-4: linear-gradient(278deg, rgba(var(--dockv-ai-general-4-0)) 0%, rgba(var(--dockv-ai-general-4-1)) 30%, rgba(var(--dockv-ai-general-4-2)) 60%, rgba(var(--dockv-ai-general-4-3)) 100%);
    --dockv-ai-general-5: linear-gradient(278deg, rgba(var(--dockv-ai-general-5-0)) 0%, rgba(var(--dockv-ai-general-5-1)) 30%, rgba(var(--dockv-ai-general-5-2)) 60%, rgba(var(--dockv-ai-general-5-3)) 100%);
    --dockv-ai-general-6: linear-gradient(278deg, rgba(var(--dockv-ai-general-6-0)) 0%, rgba(var(--dockv-ai-general-6-1)) 30%, rgba(var(--dockv-ai-general-6-2)) 60%, rgba(var(--dockv-ai-general-6-3)) 100%);
    --dockv-ai-general-7: linear-gradient(278deg, rgba(var(--dockv-ai-general-7-0)) 0%, rgba(var(--dockv-ai-general-7-1)) 30%, rgba(var(--dockv-ai-general-7-2)) 60%, rgba(var(--dockv-ai-general-7-3)) 100%);
    --dockv-ai-general-8: linear-gradient(278deg, rgba(var(--dockv-ai-general-8-0)) 0%, rgba(var(--dockv-ai-general-8-1)) 30%, rgba(var(--dockv-ai-general-8-2)) 60%, rgba(var(--dockv-ai-general-8-3)) 100%);
    --dockv-ai-general-9: linear-gradient(278deg, rgba(var(--dockv-ai-general-9-0)) 0%, rgba(var(--dockv-ai-general-9-1)) 30%, rgba(var(--dockv-ai-general-9-2)) 60%, rgba(var(--dockv-ai-general-9-3)) 100%);

}